@import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300 & display = swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open+Sans' , sans-serif;
}

header{
    position: fixed;
    background: #835757;
    padding: 20px;
    width: 100%;
    height: 30xp;
}
.left h3{
    color: rgb(255, 255, 255);
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}
.left span{
    color: rgb(255, 255, 255);

}
.sair_btn{
    padding: 5px;
    background: #705555;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    transition-property: background;
}
.sair_btn:hover{
    background-color: brown;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background-color: rgb(83, 65, 65);
}
.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.sidebar h2{
    color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background ;
}
.sidebar a:hover{
    background: #000000;
}
.sidebar ion-icon{
    padding-right: 10px;
}
label #siderbar_btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    /*color: darkturquoise;*/
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}
label #siderbar_btn:hover{
    color: black;
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 140px;
    width: 80px;
}
.content{
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
#check{
    display: none;
}